/* LandingPage.css */

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-content {
  text-align: center;
}

.landing-title {
  font-size: 36px;
  color: #333;
}

.landing-description {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.signup-link,
.login-link {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 5px;
  margin-right: 10px; /* Add margin between buttons */
  background-color: #007bff;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.signup-link:hover,
.login-link:hover {
  background-color: #0056b3;
}
